<style>
    .form-container {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 10px;
    }
  
    .form-group {
      display: contents;
    }
  
    .form-group label {
      justify-self: end;
      margin-right: 10px;
    }
  
    .form-group input {
      justify-self: start;
    }
  </style>
  
  <form [formGroup]="testeForm">
    <div class="form-container">
      <div *ngFor="let controlName of controls" class="form-group">
        <label [for]="controlName">{{ controlName | titlecase }}: </label>
        <input [id]="controlName" [formControlName]="controlName" [type]="getControlType(controlName)" />
      </div>
    </div>
    <button type="submit">Enviar</button>
  </form>